:root {
    --sc-text-fontpathname:'Software-Company-Co.,-Ltd.-Font-Bold';
    --sc-green-techcolor-main:#00f400;
    --sc-bluer-techcolor-unmatched:blue;
    --sc-seablue-techcolor:#00a2e8;
    --sc-brightwhite-techcolor:#fff;
    --sc-white-texhcolor:#fff4f4;
    --sc-normalwithe-techcolor:#ffffff;
    --sc-darkedgrey-techcolor:#333;
    --sc-deepblack-techcolor:#000000;
    --sc-grayed-techcolor:#454747;
    --sc-normalblack-techcolor:#000;
    --sc-thiner-expression:thin;
    --sc-hidden-contents:hidden;
    --sc-0-pixel-colorexpererience:0px;
    --sc-1-pixel-colorexpererience:1px;
    --sc-2-pixel-colorexpererience:2px;
    --sc-3-pixel-colorexpererience:3px;
    --sc-4-pixel-colorexpererience:4px;
    --sc-5-pixel-colorexpererience:5px;
    --sc-6-pixel-colorexpererience:6px;
    --sc-8-pixel-colorexpererience:8px;
    --sc-9-pixel-colorexpererience:9px;
    --sc-10-pixel-colorexpererience:10px;
    --sc-12-pixel-colorexpererience:12px;
    --sc-14-pixel-colorexpererience:14px;
    --sc-15-pixel-colorexperience:15px;
    --sc-16-pixel-colorexperience:16px;
    --sc-17-pixel-colorexperience:17px;
    --sc-19-pixel-colorexperience:19px;
    --sc-20-pixel-colorexperience:20px;
    --sc-25-pixel-colorexperience:25px;
    --sc-27-pixel-colorexperience:27px;
    --sc-40-piixel-colorexperience:40px;
    --sc-52-pixel-colorexperience:52px;
    --sc-100-pixel-colorexperience:100px;
    --sc-198-pixel-colorexperience:198px;
    --sc-200-pixel-colorexperience:200px;
    --sc-400-pixel-colorexperience:400px;
    --sc-1200-pixel-colorexperience:1200px;
    --sc-100-percentage-colorspace:100%
}