
@font-face {
  font-family: 'Sonyo-Black';
  src: url(../fonts/Sonyo-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-BlackItalic';
  src: url(../fonts/Sonyo-BlackItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
  src: url(../../cdn.softwarecompany.static.com/fonts/Sonyo-Bold) format('truetype');
}

@font-face {
  font-family: 'Sonyo-BoldItalic';
  src: url(../../fonts/Sonyo-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-ExtraBold';
  src: url(../../fonts/Sonyo-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-ExtraBoldItalic';
  src: url(../../fonts/Sonyo-ExtraBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-ExtraLight';
  src: url(../../fonts/Sonyo-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-ExtraLightItalic';
  src: url(../../fonts/Sonyo-ExtraLightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-Italic';
  src: url(../../fonts/Sonyo-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-Italic-VariableFont';
  src: url(../fonts/Sonyo-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-Light';
  src: url(../../fonts/Sonyo-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-LightItalic';
  src: url(../../fonts/Sonyo-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-Medium';
  src: url(../../fonts/Sonyo-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-MediumItalic';
  src: url(../../fonts/Sonyo-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-Regular';
  src: url(../../fonts/Sonyo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-SemiBold';
  src: url(../../fonts/Sonyo-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-SemiBoldItalic';
  src: url(../../fonts/Sonyo-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Sonyo-VariableFont_wght';
  src: url(../fonts/Sonyo-VariableFont_wght.ttf) format('truetype');
}

.title-container {
  display: flex;
  align-items: center;
}

.copy-icon {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  font-size: 1.2em; /* Adjust size as needed */
}

.copy-icon:hover {
  color: #007bff; /* Change color on hover */
}

::selection {
    background-color: rgba(0, 162, 232, 0.2);
    color: #000;
}

.highlighted {
    background-color: #00a2e8;
    color: #ffffff;
    border-radius: 5px;
    padding: 2px 4px;
}

::-webkit-scrollbar-track {
    background-color: rgba(244, 244, 244, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 132, 232, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #00a2e8;
    backdrop-filter: blur(10px);
    border-radius: 4px;
}

.tooltip {
    bottom: 8px;
    margin-left: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    white-space: nowrap;
    z-index: 10;
}

.tooltip-link {
    position: relative;
    color: blue;
    text-decoration: none;
}

.tooltip-link:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transition-delay: 1.7s;
}

.tooltip-for-links {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(71, 71, 71, 0.7);
    backdrop-filter: blur(10px);
    color: #fff4f4;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

h3 {
  font-family: 'Sonyo-Bold';
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #000;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer img {
    height: 52px;
    width: 198px;
    margin-right: 20px;
    margin-top: 27px;
    height: 52px;
    width: 198px;
    border-right-style: solid;
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: transparent;
    border-radius: 6px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
}

.footer-column {
    flex: 1;
    padding: 15px;
    min-width: 200px;
}

.footer-column h3 {
    font-size: 16px;
    text-align: left;
    margin-bottom: 15px;
    color: #00a2e8;
    font-size: 19px;
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    text-align: left;
    margin-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    font-size: 17px;
}

.footer-column ul li a {
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    font-size: 17px; 
}

.footer-column ul li a:hover {
    background-color: rgba(255, 244, 244, 0.2);
    border-color: transparent;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.footer-column img {
    width: 100px;
    margin-bottom: 20px;
}

/* Media Query for smaller screens (phone screens) */
@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Stacks columns vertically */
        align-items: center;
        text-align: center;
    }

    .footer-column {
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }

    .footer-column ul li {
        text-align: center;
        margin-bottom: 10px;
        color: #ffffff;
        text-decoration: none;
        font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
        font-size: 17px;
    }
    .footer-column h3 {
        text-align: center;
        margin-top: 20px;
    }
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    cursor: url('../../cursors/normal-selection/normal/black/32px-32px.png'), auto;
}

header {
    background-color: rgba(244, 244, 244, 0.2);
    color: #00a2e8;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 37px;
    border-bottom-width: 2px;
    border-color: #00a2e8;
    backdrop-filter: blur(10px);
    border-bottom-width: 2px;
    border-color: #00a2e8;
    position: fixed;
    width: 100%;
    font-size: 20px;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

header:hover {
    
}

.logo {
    font-size: 24px;
}

nav {
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    margin-right: 37px;
    color: #00a2e8;
    font-size: 20px;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 10px 0px;
    }

	.nav-links.active {
        display: flex;
    }
    .menu-toggle {
        display: flex;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(244, 244, 244, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 350px;
    height: 400px;
}

.popup button {
    padding-right: 8px;
}

.popup h4 {
    font-size: 17px;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    color: #000;
}

.popup p {
    margin-top: 10px;
    color: #454747;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.popup img {
    height: 200px;
    width: 200px;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 9px;
    border-color: #454747;
}

.popup.show {
    display: block;
    opacity: 1;
}

.qr-code {
    width: 200px;
    height: 200px;
    animation: float 2s infinite;
}
 
@keyframes
float {
   0% {
      transform: translateY(0);
 }
   50% {
       transform: translateY(-20px);
 }
   100% {
       transform: translateY(0);
 }
}

/* Styles for the close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    color: #000;
    padding-left: 8px;
    padding-bottom: 3px;
}

.close-btn:hover {
    background-color: rgba(255, 244, 244, 0.2);
    border-color: transparent;
    border-radius: 10px;
}

.close-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 1.7s;
}

.poping-body {
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    background-color: rgba(244, 244, 244, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.popuping {
    background-color: rgba(69, 71, 71, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 0px;
    width: 280px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.popuping h3 {
    font-size: 14px;
    font-weight: 500;
    color: #111;
    margin: 20px 0;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 15px;
    margin-top: 15px;
}

.popuping .buttons {
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.popuping button {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f40000;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}

.popuping button:not(:last-child) {
    border-right: 1px solid #e5e5e5;
}

.popuping button:active {
    background-color: rgba(0, 0, 0, 0.05);
}

.popuping button.cancel {
    color: #00a2e8;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 0px;
}

.dropdown-button {
    background-color: #1c1c1c;
    color: white;
    font-size: 16px;
    padding: 10px 40px 10px 15px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 146px;
    color: #fff4f4;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.dropdown-button::after {
    content: '▼';
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-options {
    background-color: transparent;
    min-width: 80%;
    z-index: 1;
    bottom: 100%;
    max-height: 460px;
    height: 280px;
    overflow-y: auto;
    border-radius: 8px;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #454747;
}

.dropdown-options a {
    color: #000;
    padding: 10px 15px;
    background-color: rgba(71, 71, 71, 0.0);
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #4a4a4a;
    color: #000;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.popup span {
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  border-radius: 4px;
  background-color: #00a2e8;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.dropdown-options a:hover {
    color: #0000f4;
}

.dropdown-container:hover .dropdown-options {
    display: block;
}

.dropdown-options::-webkit-scrollbar {
    width: 8px;
}

.dropdown-options::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    border-radius: 4px;
}

.dropdown-options::-webkit-scrollbar-track {
    background-color: #1c1c1c;
}

.notation-area {
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 10px;
    background-color: transparent;
}

.notation-area p {
    text-align: center;
    color: #ffffff;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    font-size: 16px;
    padding: 10px;
}

.notation-area p a {
    color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    text-decoration: none; font-size: 16px;
}

.social-icons a img {
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 6px;
    border-color: #00a2e8;
    width: 32px;
    height: 32px;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
}

.notation-area a {
    color: #333;
    text-decoration: none;
}

.notation-area a:hover {
    background-color: rgba(255, 244, 244, 0.2);
    border-color: transparent;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.social-icons {
    display: inline-block;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.download-apps-section {
    background-color: #000000;
}

        .feedback-card {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 300px;
            width: 100%;
        }
        .feedback-card h3 {
            margin-bottom: 15px;
            color: #333;
        }
        .feedback-card svg {
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 50%;
            font-size: 24px;
            padding: 10px 15px;
            margin: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .feedback-card svg:hover {
            background-color: #0056b3;
        }
        .feedback-card svg:focus {
            outline: none;
        }
        .success-message {
            margin-top: 20px;
            color: green;
            font-weight: bold;
        }

.container-cards2 svg {
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #00a2e8;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.container-cards2 svg:hover {
  margin-left: 10px;
  cursor: pointer;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(71, 71, 71, 0.8);
  backdrop-filter: blur(10px);
  padding-right: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #00a2e8;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-right: 10px;
  margin-top: 10px;
}
.download-apps-section .download-now-section h3 {
    font-size: 29px;
    text-align: center;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold', Nonito;
    border-top-width: 1px; color: #00a2e8;
    margin-top: 0px;
    padding-top: 12px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-top-style: solid;
    align-items: center;
    padding-top: 12px;
}

.top-scroll-button {
}

.top-scroll-button .ankher-tag {
    width: 32px;
    height: 32px;
    margin: 6px;
    flex-direction: row;
}

.top-scroll-button img {
    display: flex;
    justify-content: right;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 6px;
    border-color: transparent;
    width: 32px;
    height: 32px;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    margin-right: 70px;
    margin-left: 70px;
}

.apps-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000000;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    border-color: #00a2e8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.download-btns .ankher-tag {
    cursor: url('../cursors/Normal-Selection/link/black/32px-32px.png'), auto; cursor: pointer;
}

.download-btns .ankher-tag img {
    width: 164px;
    height: 52px;
    background-color: #000000;
    margin-right: 4px;
    margin-right: 4px;
    border-left-style: solid;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #00a2e8;
    border-left-width: 1px;
    border-radius: 8px;
}

.home-body section img {
    border-top-width: 56px;
    border-top-style: solid;
    border-color: #f4f4f4;
    width: 100%;
    border-top-style: solid;
    border-color: #f4f4f4;
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.copyright {
    display: flex;
    justify-content: right;
    align-items: right;
    flex-wrap: wrap;
    background-color: #000000;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #00a2e8;
    font-size: 14px;
    display: flex;
    justify-content: right;
    align-items: right;
    flex-wrap: wrap;
    background-color: #000000;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 18px;
}

.copyright p {
    color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    font-size: 14px;
    margin-top: 0px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 0px;
    border-bottom: 70px;
}

.logo-&-navbar p a {
    text-decoration: none;
    color: #00a2e8;
    font-size: 20px;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

header .logo-&-navbar p a {
    text-decoration: none;
    color: #00a2e8;
    font-size: 20px;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.container {
    max-width: 800px;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    color: #00a2e8;
}

h2 {
    font-size: 24px;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    color: #00a2e8;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

h2 svg {
    margin-right: 5px;
    margin-left: 2px;
}

h2 svg:hover {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    background-color: rgba(71, 71, 71, 0.2);
    backdrop-filter: blur(10px);
    cursor: pointer;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    margin-top: 15px;
    color: #00a2e8;
}

.container-cards3 .in-container-cards-3.1 p {
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 8px;
    border-color: #FFD700;
}

p {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

ul {
    margin-left: 20px;
    list-style-type: disc;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    font-size: 14px;
    color: #ffffff;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #FFD700;
}

.footer-links a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
}

.container button {
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
    cursor: pointer;
    color: #00a2e8;
    border-color: #00a2e8;
    border-radius: 4px;
    font-size: 15px;
}

.container button:hover {
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #00a2e8;
    cursor: pointer;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 4px;
    font-size: 15px;
}

.regions-container {
    margin-left: 30px;
    margin-right: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    width: 290px;
    height: 220px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-radius: 8px;
    border-color: #454747;
}

.regions-container a {
  width: 100%;
  display-inline: block;
  display: block;
  font-size: 17px;
  text-align: center;
  border-color: #000;
  border-top-style: solid;
  border-top-width: 0px;
  border-right-style: solid;
  border-left-style: solid;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
  text-decoration: none;
  margin-top: 12px;
  padding-bottom: 12px;
  max-height: 220px;
}

.regions-container:hover .dropdown-options {
    display: block;
}

.regions-container::-webkit-scrollbar {
    width: 8px;
}

.regions-container::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    border-radius: 4px;
}

.regions-container::-webkit-scrollbar-track {
    background-color: #1c1c1c;
}

.container-cards {
    margin-top: 90px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 6px;
    border-color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.container-cardsç {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 60px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 6px;
    border-color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.container-cards1 {
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 6px;
    border-color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.container-cards2 {
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 6px;
    border-color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.container-cards3 {
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 6px;
    border-color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.container-cards4 {
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 6px;
    border-color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.container-cards5 {
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 6px;
    border-color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.container-cards6 {
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 6px;
    border-color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.container-cards7 {
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 6px;
    border-color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.container-cards8 {
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 6px;
    border-color: #00a2e8;
    font-family: 'Software-Company-Co.,-Ltd.-Font-Bold';
}

.container-cards8 #likebutton {
     background-color: rgba(244, 244, 244, 0.4);
     color: #ffffff;
     border: none;
     border-radius: 6px;
     font-size: 24px;
     padding: 10px 15px;
     margin: 20px;
     cursor: pointer;
     transition: background-color 0.3s;
     margin-left: 10px;
     height: 20px;
     width: 40px;
     margin-bottom: 0px;
     margin-top: 0px;
     backdrop-filter: blur(10px);
}

.container-cards8 #dislikebutton {
     background-color: rgba(244, 244, 244, 0.4);
     color: #ffffff;
     border: none;
     border-radius: 6px;
     font-size: 24px; padding: 10px 15px; margin: 20px; cursor: pointer; transition: background-color 0.3s; margin-left: 10px; height: 20px; width: 40px; margin-bottom: 0px; margin-top: 0px; backdrop-filter: blur(10px); }
